.folders {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-flow: row wrap;

  z-index: 3;
  bottom: -5;
}

.folder {
  margin-left: 10px;
  padding: 4px 10px 4px 10px;
  border: solid black;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transform: translateY(3px);

  z-index: 1;

  display: flex;
  cursor: pointer;
}

.folder.visible {
  position: relative;
  transition: transform 0.3s;
  transform: scaleY(1.1);
  transform-origin: top;
}

.folder.light.visible {
  border-bottom: solid var(--color-content-light);
  background-color: var(--color-content-light);
}

.folder.dark.visible {
  border-bottom: solid var(--color-content-dark);
  background-color: var(--color-content-dark);
}

.delete-folder {
  margin-left: 8px;
}

.add-folder {
  position: relative;

  bottom: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 100px;
  box-shadow: 1px 1px 10px black;
  background-color: rgb(105, 104, 104);

  transform: translateY(6px);
  order: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-folder i {
  margin: 2px;
}
