.content-stadistics {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.total-inventary {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.total-price.dark {
  background-color: gray;
}

.total-price i {
  margin-right: 10px;
}

.total-products {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-width: 200px;
  text-align: center;

  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;

  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.total-products.dark {
  background-color: gray;
}

.total-products i {
  margin-right: 10px;
}

.conjunto-total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-total-price {
  font-family: Poppins;
  font-size: 1.5rem;
}

.conjunto-total-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-total-products {
  font-family: Poppins;
  font-size: 1.5rem;
}

.general-graphic {
  margin-top: 20px;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: #aaabc5;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-graphic.dark {
  background-color: #414372ff;
}

.title-general-graphic {
  position: relative;
  top: -20px;
  font-size: 1.5rem;
  background-color: #838da3;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title-general-graphic.dark {
  background-color: #141a28;
}

.graphic-donute {
  height: 200px;
}

.data-table {
  margin: 50px;
  width: 100%;
}

.title-table {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.conjunto-row-graphic {
  display: flex;
  align-items: stretch;
  margin: 50px;
  border-radius: 20px;
  background-color: #b7ceff;
  box-shadow: 2px 2px 5px black;
  color: inherit;
}

.conjunto-row-graphic.dark {
  background-color: rgb(91, 114, 173);
}

.row-table {
  width: 50%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.row-name {
  font-size: 1.5rem;
  padding: 20px;
  background-color: #838da3;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
}

.row-name.dark {
  background-color: #141a28;
}

.category-data {
  padding: 20px;
  flex-grow: 1;
}

.graphic {
  background-color: white;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
}

.graphic.dark {
  background-color: #b7ceff;
}

.category-name {
  padding: 10px;
  font-size: 1.25rem;
  background-color: rgb(91, 114, 173);

  border-radius: 15px;
}

.category-name.dark {
  background-color: #2a3654;
}

.products-on-category {
  padding: 10px;
}

.price-of-category {
  padding: 10px;
}

.void-folders {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: solid gray;
  border-radius: 20px;
}
