.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: auto;
}

.tools .collapser {
  color: var(--color-header);
  margin: 10px 20px 10px 20px;
}

.add-category {
  padding: 10px 20px 10px 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin: 0px 10px 0px 10px;
  border-left: solid black;
  border-right: solid black;
  border-top: solid black;
  z-index: 1;
  background-color: var(--color-content-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-category.dark {
  background-color: var(--color-content-dark);
}

.conjunto-add-category {
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
}

.conjunto-list-mode {
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
}

.shop-mode {
  cursor: pointer;

  font-family: Poppins, sans-serif;
  padding: 10px;
  margin: 10px 10px 10px 10px;

  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
}

.dark-mode {
  margin: 10px 30px 10px 30px;
  display: flex;
  width: 70px;
  cursor: pointer;

  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
}

.dark-mode.active i {
  transform: translateX(35px);
}

.dark-mode .bx {
  transition: 0.3s;
}

.config {
  margin: 10px;
}

.tools i {
  cursor: pointer;
}

.tools .dark-mode i {
  border-radius: 100px;
  box-shadow: 1px 1px 5px black;
}
